.filters {
    width: 98%;
    margin: auto;
    height: 150px;
    background-color: white;
    margin-bottom: 20px;
    //   display: flex;
    //   justify-content: space-around;
    //   align-items: center;
    padding: 10px 40px;
    border-radius: 5px;
  }
  .listFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filterItem {
    width: 48%;
    height: 50px;
    label {
      color: #5e5873;
      font-weight: 100;
    }
  }
  
  .searchParams {
    width: 98%;
    height: 90px;
    background-color: white;
    margin: auto;
    border-bottom: 1px solid rgb(225, 225, 225);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
  }
  .inputSearch {
    display: flex;
    align-items: center;
    label{
      margin-top: 8px;
    }
    button {
      height: 100%;
      width: 100px;
      border-radius: 10px;
      color: white;
      margin-left: 20px;
    }
    height: 40px;
  }
  
  .showEntry {
    display: flex;
    align-items: center;
    font-weight: 100;
  }
  
  .active {
    background-color: #e5f8ed;
    border-radius: 10px;
    padding: 5px;
    color: #29c770;
  }
  .inactive {
    background-color: #f9eaea;
    border-radius: 10px;
    padding: 5px;
    color: #969a9e;
  }
  
  div[data-column-id="1"] {
    overflow: visible!important;
  }

  div[data-column-id="1"] div{
    overflow: visible!important;
  }